/* Fonts */

@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --login-clr: #596D48;
}

 
 * {
  margin: 0;
}

html, body {
  display: flex;
}

body {
  width: 100%;
}

/* Plant image */

.img-container {
  position: relative;
  min-width: 30vw;
  height: 100vh;
} 

.green-plant {
  display: block;
  position: absolute;
  width: 30vw;
  height: 100vh;
}

a:link, 
a:visited {
  color: white;
}

/* Caption + Footer */

footer,
.odin-container {
  position: absolute;
  width: 100%;
  bottom: 10px; 
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "open_sans";
  text-align: center;
}

.odin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  height: 20vh;
  background-color: rgb(0, 0, 0, 0.5);
}   

.odin-container > img {
  max-width: 5vw;
  max-height: 22vh;
}

.odin-container > span {
  font-family: "norsebold";
  font-size: 7rem;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "open_sans"
}

.paragraphs,
.temptation {
  margin: 15vh 0 0 5vh;
  font-size: 2rem;
}

.temptation{
  margin-top: 5vh;
}

#you {
  font-weight: 700
}

#know {
  font-style: italic;
}

/* Forms */

form {
  margin-top: 4vh;
}

h1 {
  margin: 2vh 0 2vh 5vh;
  font-size: 2rem
}

fieldset {
  padding: 0px;
  box-shadow: 0px 3px 8px  black;
}

fieldset > div {
  position: relative;
  margin: 2vh 0 0 5vh;
  height: 3vh;
}

fieldset > div:last-child {
  margin-bottom: 5vh;
}

label,
input {
  font-size: 1rem;
}

div > input {
  box-sizing: border-box;
  width: 10vw;
  height: 3vh;
  padding: 5px;
}

div > input:first-of-type {
  margin-right: 50px;
}

label {
  position: absolute;
  padding: 2.5px;
  padding-left: 10px;
  /* margin: 5vh 0 0 5vh; */
}

input[type="submit"] {
  box-sizing: border-box;
  background-color: var(--login-clr);
  color: white; 
  border-radius: 10px;
  border: 0;
  margin: 2vh 0 2vh 5vh;
  font-size: 1.2rem;
  padding: 10px 30px;
  cursor: pointer;
}

.own-acc {
  margin: 2vh 0 2vh 5vh;
  font-weight: 600;
}

#login {
  cursor: pointer;
  color: var(--login-clr);
}


