/* Fonts */

@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
       url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --login-clr: #596D48;
}

 * {
  margin: 0;
}

html, body {
  display: flex;
}

body {
  width: 100%;
}

/* Plant image */

.img-container {
  position: relative;
  min-width: 30vw;
  height: 100vh;
} 

.green-plant {
  display: block;
  position: absolute;
  width: 30vw;
  height: 100vh;
}

a:link, 
a:visited {
  color: white;
}

/* Caption + Footer */

.img-container > footer,
.odin-container {
  position: absolute;
  width: 100%;
  bottom: 10px; 
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "open_sans";
  text-align: center;
}

.odin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
  height: 20vh;
  background-color: rgb(0, 0, 0, 0.5);
}   

.odin-container > img {
  max-width: 5vw;
  max-height: 22vh;
}

.odin-container > span {
  font-family: "norsebold";
  font-size: 7rem;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  font-family: "open_sans"
}

.paragraphs,
.temptation {
  margin: 15vh 0 0 5vh;
  font-size: 2rem;
}

.temptation{
  margin-top: 5vh;
}

#you {
  font-weight: 700
}

#know {
  font-style: italic;
}

/* Forms */

form {
  margin-top: 4vh;
}

h1 {
  margin: 2vh 0 2vh 5vh;
  font-size: 2rem
}

fieldset {
  padding: 0px;
  box-shadow: 0px 3px 8px  black;
}

fieldset > div {
  position: relative;
  margin: 2vh 0 0 5vh;
  height: 3vh;
}

fieldset > div:nth-of-type(1) ~ div {
 margin-top: 3vh;
}

fieldset > div:last-child {
  margin-bottom: 5vh;
}

label,
input {
  font-size: 1rem;
}

div > input {
  box-sizing: border-box;
  width: 10vw;
  height: 4vh;
  padding: 5px;
  padding-top: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

label {
  position: absolute;
  font-size: .6rem;
  padding: 2.5px;
  margin-left: 5px;
  padding-left: 5px;
  bottom: 2vh;
  background-color:white;
  /* margin: 5vh 0 0 5vh; */
}

input[type="submit"] {
  box-sizing: border-box;
  background-color: var(--login-clr);
  color: white; 
  border-radius: 10px;
  border: 0;
  margin: 2vh 0 2vh 5vh;
  font-size: 1.2rem;
  padding: 10px 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #506240;
}

.own-acc {
  margin: 2vh 0 2vh 5vh;
  font-weight: 600;
}

#login {
  cursor: pointer;
  color: var(--login-clr);
}

/* CSS Validation */

:focus {
  outline: 0;
}

div > input::placeholder {
  color: black;
}

div > input:hover {
  background-color: #eee;
}

div > input:focus::placeholder {
  color:transparent
}

div > input + span {
  position: relative;
}

div > input + span::after {
  position: absolute;
}

div > input:invalid + span::after {
  content: "✖";
  top: 1px;
  padding-left: 5px;
  color: red;
}

div > input:placeholder-shown + span::after {
  content: " ";
}

div > input:valid + span::after {
  content: "✓";
  top: 1px;
  padding-left: 5px;
  color: green;
}

div > span:first-of-type {
  margin-right: 50px;
}

div > span:last-child {
  padding-left: 5px;
}

div > input:valid {
  border-color: green;
}

div > label:has(+input:placeholder-shown) {
  background-color: transparent;
  color: transparent
}

div > label:has(+input:focus) {
  background-color: white;
  color: black
}

main > footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.main-footer > a:link,
.main-footer > a:visited {
  color: black;
}